@model Tacopajen.Models.RecipeViewModel

<img itemprop="photo" src="@Model.Recipe.ImgUrl" class="display-none" />
<div class="cover-img" style="background-image: url(@Model.Recipe.ImgUrl)">
    <h1 itemprop="name">@Model.Recipe.Name</h1>
</div>

<div class="wrapper">
    <div class="sidebar">
        <h1>Ingredienser</h1>
        <h3>Pajdeg</h3>
        <ul itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient">
            @foreach (var ingredient in Model.Ingredients.Deg)
            {

                <li><span itemprop="name">@ingredient.IngredientName</span>, <span itemprop="amount">@ingredient.Quantity</span></li>
            }
        </ul>

        <h3>Fyllning</h3>
        <ul itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient">
            @foreach (var ingredient in Model.Ingredients.Fyll)
            {

                <li><span itemprop="name">@ingredient.IngredientName</span>, <span itemprop="amount">@ingredient.Quantity</span></li>
            }
        </ul>
    </div>

    <div class="main-content">
        <h1>Gör så här</h1>
        <p class="summary" itemprop="summary">Världens bästa tacopaj</p>
        <p itemprop="instructions">@Model.Recipe.Description</p>
        <p class="author">Författare: <span itemprop="author">Oskar Karlsson</span></p>
    </div>

</div>
<div class="comments">
    @{ Html.RenderPartial("Comments", Model.Comments); }
</div>

<div class="wrapper-list">
    <h1>Liknande Recept</h1>
    <ul class="list">
        @foreach (var recipe in Model.OtheRecipes)
        {
            <li class="list-element">
                <div class="list-box">
                    <a href="/recept?id=@recipe.Id">
                        <img class="list-image" src="@recipe.ImgUrl" />
                        <h4>@recipe.Name</h4>
                    </a>
                </div>
            </li>
        }
    </ul>
</div>
